/* FONTS */
@font-face {
    font-family: Student-Detail;
    src: url('../fonts/Helvetica-Regular.ttf');
}

/* SIDEBAR */

/* Student Details */
#sidebar-student-details
{
    height: 60px;
    color: white;
}

#student-details-name
{
    width: 100%;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px; 

    font-family: Student-Detail;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.student-detail
{
    width: 100%;
    height: 30px;
    margin-left: 8px;
}

.student-detail-key, .student-detail-value
{
    display: inline-block;
    font-family: Student-Detail;
    font-size: 15px;
}

/* Dashboard Options */
#container-student-options
{
    top: 30px;
}

/* MAIN BODY */

/* Analytics */
#container-analytics
{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60%;

    background-color: #383a3c;
}
#container-mainBody
{
    position: absolute;
    top: 0px;
    left: 200px;
    width: 500px;
    height: 100%;

    background-color: #383a3c;
}


/* Quiz List */
#container-quizList
{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    /* height: 200px; */
    /* box-shadow: 20px -8px 50px black; */

}

.QuizList {
    position: relative;
    float: left;
    width: 40%;

    margin: 5px;

}
.QuizList-Title
{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    
    background-color: #3E3D3D;

    /* Align text centerally */
    text-align: center;
    vertical-align: middle;
    line-height: 30px; 

    font-family: Student-Detail;
    color: white;

    z-index: 1;
}
.QuizList-ItemContainer
{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;

    background-color: #3E3D3D;
}
.QuizList-Item
{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
    
    background-color: brown;
    transition: 0.1s;   
}
.QuizList-Item:hover
{
    cursor: pointer;
    background-color: antiquewhite;
}
