/* SIDEBAR ELEMENTS */
#sidebar-quiz-details
{
    height: 60px;
    background-color: yellowgreen;
}
#sidebar-title
{
    margin-top: 30px;
    background-color: burlywood;
}

/* MAIN BODY ELEMENTS */
#content-wrap
{
    position: relative;
    top:0px;
    left: 200px;
    height: 100%;

    background-color: blueviolet;
}
/* QUIZ START BUTTON */
#content-startBtn
{
    position: absolute;
    left: 45%;
    top: 40%;

    width: 150px;
    height: 50px;

    border-radius: 5px;
    background-color: bisque;
    transition: 0.1s;
}
#content-startBtn:hover
{
    cursor: pointer;
    background-color: aliceblue;
}

#content-startBtn-text
{
    /* Align text centerally */
    text-align: center;
    vertical-align: middle;
    line-height: 50px; 
}

/* QUIZ QUESTION */
#question-title, #question-description, #question-constraints, #question-sampleInput-container, #question-sampleOutput-container
{
    position: relative;
    left: 0px;
    display: block;

    background-color: blanchedalmond;
}

#question-description, #question-constraints
{
    margin-top: 20px;
}

.constraints-lower_bound, .constraints-name, .constraints-upper_bound
{
    display: inline-block;
}