/* FONTS */
@font-face {
    font-family: Quiz-Detail;
    src: url('../fonts/Helvetica-Regular.ttf');
}
/* SIDEBAR ELEMENTS */


.quiz-detail
{
    width: 100%;
    height: 30px;
    margin-left: 8px;

    /* Align text centerally */
    text-align: center;
    vertical-align: middle;
    line-height: 30px; 
}
.quiz-detail-key, .quiz-detail-value
{
    margin-top: 10px;
    display: inline-block;
    font-family: Quiz-Detail;
    font-size: 25px;

     
}
#sidebar-quiz-details
{
    height: 60px;
    color: white;
}
#sidebar-title
{
    margin-top: 30px;
    background-color: burlywood;
}

#sidebar-container-questions
{
    max-height: 100px;
}


/* MAIN BODY ELEMENTS */
#content-wrap
{
    position: relative;
    top:0px;
    left: 200px;
    height: 100%;

    background-color: blueviolet;
}
/* QUIZ START BUTTON */
#content-startBtn
{
    position: absolute;
    left: 45%;
    top: 40%;

    width: 150px;
    height: 50px;

    border-radius: 5px;
    background-color: bisque;
    transition: 0.1s;
}
#content-startBtn:hover
{
    cursor: pointer;
    background-color: aliceblue;
}

#content-startBtn-text
{
    /* Align text centerally */
    text-align: center;
    vertical-align: middle;
    line-height: 50px; 
}

/* QUIZ QUESTION */
#question-title, #question-description, #question-constraints, #question-sampleInput-container, #question-sampleOutput-container
{
    position: relative;
    left: 0px;
    display: block;

    background-color: blanchedalmond;
}

#question-description, #question-constraints
{
    margin-top: 20px;
}

.constraints-lower_bound, .constraints-name, .constraints-upper_bound
{
    display: inline-block;
}

/* CODE EDITOR */
.content-editor
{
    position: relative;
    top:0px;
    left: 0px;
    width: 100%;
    height: 70%;

    /* TEMP */
    background-color: gray;
    margin-top: 1px;
}

.IOPanel
{
    position: relative;
    top:0px;
    left:0px;

    width: 50%;
    height: 30%;

    display: inline-block;

    background-color: red;
}

.IOPanel-Title
{
    position: relative;
    top:0px;
    left:0px;
    width: 100%;
    height: 25px;

    /* Align text centerally */
    text-align: center;
    vertical-align: middle;
    line-height: 25px;

    background-color: blue;
}

.IOPanel-Editor
{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;

    display: block;
}

#submitCodeBtn
{
    position: relative;
    top: 0px;
    left: 0px;
}