body
{
    /* background-color: #B43C3C; */
    background: #383a3c;  /* fallback for old browsers */
}

#signInContainer
{
    width: 400px;
    height: 400px;
    /* background-color: rgba(0,0,0,0.6); */

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

#button-SignInWithGoogle
{
    width: 290px;
    height: 70px;
    background-image: url('../images/btn_google_signin_light_normal_web@2x.png');
    background-size: contain;

    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
    
    /* Align text centerally */
    text-align: center;
    vertical-align: middle;
    line-height: 50px;  

    /* Round edges */
    border-radius: 10px;

    transition: 0.2s;
}

#button-SignInWithGoogle:hover
{
    cursor: pointer;
    background-image: url('../images/btn_google_signin_light_pressed_web@2x.png');
}